@{
    ViewData["Title"] = "Hello World";
}

<html>
<head>
    <h1>
        Welcome
    </h1>
    <h2>
        ASP .Net Core
    </h2>
    <br />
    <h3>
        Employee Details
    </h3>


    <link rel="stylesheet" type="text/css" href="~/css/table.css">

</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Soumyadip</td>
                    <td>Intern</td>
                    <td>21500</td>
                    <td>9382063695</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Anand</td>
                    <td>SAP Dev</td>
                    <td>21500</td>
                    <td>9653835283</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mukund</td>
                    <td>Analytics</td>
                    <td>31500</td>
                    <td>9738363223</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Aditya</td>
                    <td>Developer</td>
                    <td>51500</td>
                    <td>7358378228</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>