
<div *ngFor="let user of users;let i=index">
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                <button class="btn btn-secondary"> 
                    <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                </button> 
                <span class="name mt-3">{{user.Name}}</span> 
                <span class="idd">{{user.Email}}</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                    <span class="idd1">{{user.PhoneNumber}}</span> 
                    <span><i class="fa fa-phone"></i></span> 
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                    <span class="number">1069<span class="follow">Followers</span></span> 
                </div>
                <div class=" d-flex mt-2"> 
                    <button (click)="onDelete(i)" class="btn1 btn-dark">Delete Profile</button> 
                </div>
                <div class="text mt-3"> 
                    <span>{{user.Name}} is a software developer skilled with {{user.Skills}}</span> 
                </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> 
                    <span><i class="fa fa-twitter"></i></span> 
                    <span><i class="fa fa-facebook-f"></i></span> 
                    <span><i class="fa fa-instagram"></i></span> 
                    <span><i class="fa fa-linkedin"></i></span> 
                </div>
                <div class=" px-2 rounded mt-4 date "> 
                    <span class="join">Joined February,2024</span> 
                </div>
            </div>
        </div>
    </div>
</div>