<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RepairManagement</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/Index.css" />
  
</head>
<body>
    <header>



        <nav>
            <a><img src="./logo-removebg-preview.png" style="height:90px ; width:90px" /></a>

            <ul>


                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="About">Services</a>
                </li>

                <li>
                    <a asp-area="" asp-controller="Home" asp-action="About">Contact</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Login" asp-action="Index">Book Appointment</a>
                </li>
            </ul>
        </nav>

      
    </header>
    <div class="container">
        <h1>Welcome to our car repair management website!</h1>
        <p>Experience seamless scheduling, efficient mechanics, and detailed reports for all your vehicle servicing needs. Get started today!</p>
    </div>

    
  
</body>
</html>
