<!-- edit-recipe.component.html -->
<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">
      <img class="logo-img" src="https://thumbs.dreamstime.com/b/recipe-book-calligraphy-cover-vector-illustration-emblem-label-print-chef-kitchen-hat-trendy-stylish-typography-inscription-166113287.jpg" alt="logo">
    </div>
    <div class="website-title">Recipe Book</div>
  </div>
  <div class="navbar-right">
    <button (click)="goHome()">Home</button>
    <button (click)="logout()">Logout</button>
  </div>
</nav>
<div class="edit-recipe-container">
    <h2>Edit Recipe</h2>
    <form (ngSubmit)="updateRecipe(editedRecipe)" #editForm="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="editedRecipe.name" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="editedRecipe.description" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image URL:</label>
        <input type="text" class="form-control" id="image" name="image" [(ngModel)]="editedRecipe.image" required>
      </div>
      <div class="form-group">
        <label for="cookingtime">Cooking Time (minutes):</label>
        <input type="number" class="form-control" id="cookingtime" name="cookingtime" [(ngModel)]="editedRecipe.cookingtime" required>
      </div>
      <div class="form-group">
        <label for="nutrition">Nutrition:</label>
        <input type="number" class="form-control" id="nutrition" name="nutrition" [(ngModel)]="editedRecipe.nutrition" required>
      </div>
      <div class="btn-submit">
      <button type="submit" class="btn btn-primary">Update Recipe</button>
    </div>
    </form>
  </div>
  