<nav class="navbar">
  <div class="logo-container">
    <img src="../assets/images/logo.svg" alt="" />
  </div>

  <button
    (click)="handleClick($event)"
    aria-label="hamburger-btn"
    type="button"
    class="btn-hamburger"
  >
    <img src="../../assets/images/hamburger.svg" alt="" />
  </button>

  <div class="navigation">
    <div class="navbar-menu">
      <ul class="navbar-items">
        <li class="navbar-link"><a href="">Features</a></li>
        <li class="navbar-link"><a href="">Pricing</a></li>
      </ul>

      <hr />

      <div class="btns">
        <a href="" class="btn btn-login">Login</a>
        <a href="" class="btn btn-signup">Signup</a>
      </div>
    </div>
  </div>
</nav>
