/* Styles for the form container */

h2{
    text-align: center;
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Styles for form labels */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Styles for form inputs */
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width */
  }
  
  /* Styles for form validation messages */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Styles for form submit button */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Styles for form submit button when disabled */
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Styles for hidden elements */
  [hidden] {
    display: none !important;
  }
  