<div class="signup-form">
  <h2>Sign Up</h2>
  <form method="post" (ngSubmit)="onSubmit()">
    <div class="form-gorup">
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="form-gorup">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="form-gorup">
      <input
        type="text"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <div class="form-gorup">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
