@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center SignImage">
    
    <div class="image-buttons ">
        <div>

            <a class="image_action_2" href="@Url.Action("Create", "Users")">
                <img class="image1" src="~/Images/SignUp.png" alt="Image 1" />
                <p class="para">SignUp</p>
            </a>
         @*    <a class="image_action_2" href="@Url.Action("StudentLogin", "Students")">
                <img class="image1" src="~/Images/student.png" alt="Image 2" />
                <p class="para">Student Login</p>
            </a> *@
          
        </div>

        <div>

            <a class="image_action_2" href="@Url.Action("SignIn", "Users")">
                <img class="image2 " src="~/Images/SignIn.png" alt="Image 3" />
                <p class="para">SignIn</p>
            </a>
            @* <a class="image_action_2" href="@Url.Action("Create", "Admins")">
                <img class="image2" src="~/Images/adminCreate.png" alt="Image 4" />
                <p class="para">Create Admin</p>
            </a> *@
        </div>
    </div>
</div>

