.image-buttons{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
}

.image-buttons div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-buttons .para {
    text-align: center;
}

.image_action_2 {
    width: 150px;
    text-decoration: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    transition: transform .5s;
}
    .image_action_2:hover {
        background-color: #89cff0;
        transform: scale(1.2);
    }