<!-- <div class="container mt-4">
  <div *ngFor="let task of tasks; let i = index" class="task">
    <div class="row">
      <div class="col">
        {{ task }}
      </div>
      <div class="col-auto">
        <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
      </div>
    </div>
  </div>
</div> -->


<div class="container mt-4">
  <div *ngFor="let task of tasks; let i = index" class="task">
    <div class="row align-items-center mb-2"> <!-- Added 'align-items-center' class for vertical alignment and 'mb-2' class for margin bottom -->
      <div class="col">{{ task }}</div>
      <div class="col-auto">
        <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
