@{
    ViewData["Title"] = "Privacy Policy";
}

@* <br />
<form action="form1" method="post">
    <table>
        <tr>
            <td>Enter ID:</td>
            <td><input type="text" name="txtId" /></td>
        </tr>
        <tr>
            <td>Enter Name:</td>
            <td><input type="text" name="txtName" /></td>
        </tr>
        <tr>
            <td>Addon:</td>
            <td><input type="checkbox" name="chkAddon" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
</form> *@