::placeholder
{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
body{
    background-color: rgb(216, 183, 210);
}
.sizebox{
    max-width: 600px;
    padding: 20px;
    background-color:white;
    margin-top: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 3pc 5px rgba(1,1,1,alpha);
}
.title_small{
    font-size: 12px;
}
.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}

input ,select, textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: red;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}
button:hover{
    background-color:#ccc;
    border:red  solid 2px;
    padding: 5px;
    color: black;
    border-radius: 10px;
    transition: 0,3s ease-out;
    cursor: pointer;
}
.text_control{
    grid-column: 1/span 2;
}
.text_control textarea{
    width: 100%;
}
@media (max-width:460px) {
    .text_control{
        grid-column: 1/span 1;
    }
    
}
#email{
    margin-left: 20px;
}
#job_role{
    margin-left: 20px;
}
#pincode{
    margin-left: 20px;
}
#date{
    margin-left: 20px;
}