@* @model FitKitWebApp.Models.UserCredentials

@{
    ViewData["Title"] = "Index";
}

@section Styles{
<link href="~/Content/Form.style.css" type="text/css" rel="stylesheet" />
}

<div class="login-page-container">
    <div class="img-container">
        <img src="~/images/undraw_indoor_bike_pwa4 (1).svg" alt="" />
    </div>

    <div class="content">
        <h1>Create your Free Account</h1>
         <form method="post" class="form-container" asp-action="SignUp">
                <div class="input-container">
                    <label asp-for="FirstName" class="label"></label>
                    <input asp-for="FirstName" type="text" class="input-tag" placeholder="Enter your Firstname here" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="input-container">
                    <label asp-for="LastName" class="label"></label>
                    <input asp-for="LastName" type="text" class="input-tag" placeholder="Enter your Lastname here" />
                    <span asp-validation-for="LastName"></span>
                </div>

            <div class="input-container">
                <label asp-for="UserName" class="label"></label>
                <input asp-for="UserName" type="text" class="input-tag" placeholder="Enter your Lastname here" />
                <span asp-validation-for="UserName"></span>
            </div>

                <div class="input-container">
                    <label asp-for="UserEmail" class="label"></label>
                    <input asp-for="UserEmail" type="email" class="input-tag" placeholder="Enter your Email here" />
                    <span asp-validation-for="UserEmail"></span>
                </div>

                <div class="input-container">
                    <label asp-for="Password" class="label"></label>
                    <input asp-for="Password" type="password" class="input-tag" placeholder="Enter your Password here" />
                    <span asp-validation-for="Password"></span>
                </div>

                <input type="submit" class="create-btn" value="Create Account" />
         </form>
         <p>Already have an account? <a asp-area="" asp-controller="Login" asp-action="Login">Log in</a></p>
         <p class="or">- OR -</p>
         <div class="third-party-login">
             <button type="button"><img src="~/images/Google.png" />Sign up with Google</button>
             <button type="button"><img src="~/images/GitHub.png" />Sign up with GitHub</button>
         </div>
    </div>
</div>

@*
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@

@model FitKitWebApp.Models.UserCredentials;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>This is login page.</h1>

<form class="form-container">
    <div class="input-container">
        <label asp-for="UserEmail" class="label"></label>
        <input asp-for="UserEmail" type="email" class="input-tag" placeholder="Enter your Email here" />
        <span asp-validation-for="UserEmail"></span>
    </div>

    <div class="input-container">
        <label asp-for="Password" class="label"></label>
        <input asp-for="Password" type="password" class="input-tag" placeholder="Enter your Password here" />
        <span asp-validation-for="Password"></span>
    </div>

    <input type="submit" class="create-btn" value="Create Account" />
</form>
