<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Myconsumers11Entities" connectionString="metadata=res://*/DBModel1.csdl|res://*/DBModel1.ssdl|res://*/DBModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN-6WF3NX3;initial catalog=Myconsumers;user id=sa;password=sa;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MyconsumersEntities" connectionString="metadata=res://*/ConsumerTable.Model1.csdl|res://*/ConsumerTable.Model1.ssdl|res://*/ConsumerTable.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN-6WF3NX3;initial catalog=Myconsumers;user id=sa;password=sa;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntityFramework.Properties.Settings.MyconsumersConnectionString"
      connectionString="Data Source=IN-6WF3NX3;Initial Catalog=Myconsumers;User ID=sa;Password=sa;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>