@{
    ViewData["Title"] = "Home Index";
}

@using (Html.BeginForm("Login", "Home"))
{
    <table class="table table-sm table-hover table-borderless">
        <tr>
            <td> User Name</td>
            <td>
                @Html.TextBox("Username")
               
            </td>
        </tr>
        <tr>
            <td> Password</td>
            <td>
                @Html.Password("Password")
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" /></td>
            <td>
              
                @Html.Label("message", ViewBag.message as string)
            </td>
        </tr>
    </table>
}
