@model Category

<form method="post">
    <input asp-for="Id" hidden />
    <div class="row p-3 mt-4">
        <h2 class="text-bg-danger-primary">Delete Category</h2>
        <hr />
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled class="form-control" />
   
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" disabled class="form-control" />

    </div>
    <button type="submit" class="btn btn-danger" style="width:200px">Delete</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:200px">
        Back to Link
    </a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}