.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #ccc;
}

body {
  background-color: rgb(222, 177, 0);
}

#search_box {
  margin: 50px;
  border: 1px solid black;
  border-radius: 20px;
}

.backGnd {
  position: sticky;
  top: 0;
  background-image: url('../../../assets/home_header_cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  border-radius: 30px;
}

#rating {
  cursor: pointer;
}

.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
  /* padding-top: 56px; 
  padding-bottom: 56px;  */
  padding-right: 20px;
  /* border: 5px solid rgb(18, 188, 197); */
  border-radius: 20px;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  margin: 50px;
}

.custom-img {
  height: 200px;
  object-fit: contain;
}

.title {
  text-align: center;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.container {
  padding-left: 35%;
  padding-top: 60px;
}

.selected {
  color: orange;

}