<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">User Data</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Verification Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userData; let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                            <td>{{ user.verify ? 'Verified' : 'Not Verified' }}</td>    
                            <td>
                                <button *ngIf="!user.verify && user.username !== 'Admin'" class="btn btn-primary btn-sm" (click)="verifyUser(user)">Verify</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
