body{
    background-color: azure;
}
H1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1:hover{
    background-color: bisque;
    color: brown;
    transition: 0.7;
}
H2{
    margin-left: 180px;
    text-align: left;
    color: blueviolet;
    font-size: 30px;
}
h2::after{
    content : ">";
    }
    nav{
       
        background-color: #ffebcd;
        height: 30px;
        width: auto;
        text-justify: auto;
        align-items: center;
    }
    ul{
        list-style-type: none;
       
    }

    nav ul li{
        
        display: inline;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 100px;
        margin-left: 100px;
    
    
    }

.flex{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 10px;
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    #flex1{
        color: blueviolet;
        z-index: 1;
        position:relative;
        border: 6px solid red;
        margin: 30px;
        width: 550px;
        height: 300px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
    #flex2{
    align-items: center;
    z-index: 2;
    position:relative;
        color: blueviolet;
        border: 6px solid red;
        margin: 30px;
        width: 550px;
        height: 300px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
    #flex3{
        z-index: 3;
        position:relative;
        color: blueviolet;
        border: 6px solid red;
        margin: 30px;
        width: 550px;
        height: 300px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }


.content {
    height: 140PX;
    background-color: bisque;
    padding-left: 19px;
    padding-bottom: 10px;
    color: blue;
    border-style: dotted;
    border-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#forms {
    border-color: red;
    border-radius: 10%;
    margin-left: 2px;

}

#firstname {
    margin-left: 50px;
    background-color: rgb(225, 252, 252);
    border-radius: 2%;
    box-sizing: border-box;
    width: 600px;
    height: 40px;
    border-color: black;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pass {
    margin-left: 50px;
    background-color: rgb(225, 252, 252);
    border-radius: 2%;
    box-sizing: border-box;
    width: 600px;
    height: 40px;
    border-color: black;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dob {
    margin-left: 50px;
    background-color: rgb(225, 252, 252);
    border-radius: 2%;
    box-sizing: border-box;
    width: 600px;
    height: 40px;
    border-color: black;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.forms{
    font-size: 20px;
}
#gender {
    margin-left: 50px;
    border-radius: 2%;
    box-sizing: border-box;
    width: 600px;
    height: 40px;
    border-color: black;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#check {
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(225, 252, 252);
    border-radius: 2%;
    box-sizing: border-box;
    width: 60px;
    height: 20px;
    border-color: black;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width:400px) and (max-width:769px){
    nav{
       display: flex;
        background-color: #ffebcd;
        height: 80px;
        width: 200px;
        text-justify: auto;
        align-items: center;
    }
}

@media screen and (min-width:400px) and (max-width:769px){
    .content {
        height: 150PX;
        background-color: bisque;
        padding-left: 19px;
        padding-bottom: 10px;
        color: blue;
        border-style: dotted;
        border-color: aquamarine;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
    
}