@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .Apple {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<h1>@ViewData["Title"]</h1>


Hello Everyone!
<br />
<table id="Apple">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>30</td>
        <td>Engineering</td>
    </tr>
    <tr>
        <td>Jane Smith</td>
        <td>28</td>
        <td>Marketing</td>
    </tr>
    <tr>
        <td>Michael Johnson</td>
        <td>27</td>
        <td>Finance</td>
    </tr>
    <tr>
        <td>Tommy Hilfiger</td>
        <td>29</td>
        <td>Agriculture</td>
    </tr>
    <tr>
        <td>Louis Phillipe</td>
        <td>24</td>
        <td>Business Management</td>
    </tr>
    <tr>
        <td>Louis Vuitton</td>
        <td>35</td>
        <td>Human Resource</td>
    </tr>
</table>