div1 {
    display: flex;
    justify-content: space-between;
}

.div2 {
    height: 50px;
    width: 50px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
