body{
    background-image: url("background2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/*For head part*/
.rightsection{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    cursor: pointer;
}

.flight_logo{
    height: 44px;
    width: 44px;
    margin-right: 20px;
    margin-left: 10px;
    z-index: 3;
}

.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-left: 30px;
    margin-right: 30px;
    background-color: antiquewhite;
    border-radius: 15px;
}

#name{
    color:rgb(247, 0, 255)
}

.leftsection{
    display: flex;
    align-items: center;
}

.button{
    padding: 5px;
}

.button:hover{
    color: blue;
    font-weight: bold;
}

/*For middle part*/
.middle{
    display: flex;
    flex-direction: row;
}

.middle_left{
    margin-top: 100px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 35%;
}

.qoute{
    color: rgb(255, 123, 0);
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.about_quote{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(247, 5, 142);
}

#read_more{
    font-size: smaller;
}
/*for search section*/

.middle_right{
    display: flex;
    border-radius: 20px;
    width: 50%;
    margin-top: 200px;
    background-color: blueviolet;
    margin-left: 25%;
    margin-right: 10% ;
    margin-bottom: 30px;
    padding: 5px;

}

.search_text{
    color: yellow;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

.search_button{
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.search_button:hover{
    color: rgb(138, 4, 254);
    background-color: yellow;
    cursor: pointer;
}


.footer{
    text-align: center;
}

.bottom{
    background-color: grey;
    margin-top:150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.benefit{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.benefit_heading{
    margin-bottom: 5px;
}
