*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header{
    font-size: 40px;
    background: linear-gradient(to right, #097ff6,#a5dbea);
    top: 0;
    left: 0;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
main{
    padding: 10px;
}
#container,#revcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

#rev,.count{
    padding: 10px;
}

