.box{
    margin:50px;
    border:1px solid black;
}
.heading{
    text-align: center;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-items{
    margin: 10px;
}

.button{
    margin: 10px;
    font-size:15px;
}

.button:hover{
    background-color: green;
    cursor:pointer;
    transform: scale(1.13);
    box-shadow: lightgray 2px 5px 5px 2px;
    color: white;
    border:none;
    border-radius: 3px;
}