
<div class="container" *ngIf="formData">
    <h1>User Details</h1>
    <div class="detail">
      <label for="name">Name:</label>
      <span>{{ formData.name }}</span>
    </div>
    <div class="detail">
      <label for="email">Email:</label>
      <span>{{ formData.email }}</span>
    </div>
    <div class="detail">
      <label for="phone">Phone:</label>
      <span>{{ formData.phone }}</span>
    </div>
    <div class="detail">
      <label for="gender">Gender:</label>
      <span>{{ formData.gender }}</span>
    </div>
    <div class="detail">
      <label for="skills">Skills:</label>
      <span>{{ formData.skills }}</span>
    </div>
  </div>

