.a-cleanup {
    color: inherit;
    text-decoration: none;
}

    .a-cleanup:hover {
        color: inherit;
    }


.c-body{
    display:flex;
    flex-direction:column;
    justify-content:left;
}

.wish_btn {
    margin-right: 4px;
}

    .wish_btn:hover {
        background-color: red;
        border: none;
    }

.card-img-custom {
    width: 100%;
    height: 17vw;
    object-fit:contain;
}


.store-card {
    transition: all 0.2s ease;
}

    .store-card:hover {
        transform: scale(1.03);
        box-shadow: lightgray 2px 5px 5px 2px;
    }

.card-cart-btn {
    transition: all 0.2s ease;
}

    .card-cart-btn:hover {
        background-color: green;
        border: 1px solid green;
    }

.cart-btn {
    transition: all 0.2s ease;
    margin-right: 25%;
}

    .cart-btn:hover {
        background-color: green;
        border: 1px solid green;
    }

.btn-back-home:hover{
    background-color:darkorange;
}

.Body_content {
    padding-top: 55px;
    background-image: url('https://c8.alamy.com/comp/2PE6T47/books-sketches-horizontal-banner-template-closed-and-open-books-line-background-bookstore-library-book-shop-literature-dictionaries-planners-2PE6T47.jpg');
    object-fit: cover;
    background-attachment: fixed;
}

.card {
    background-color: #d0d6d1;
}