*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: "Manrope", sans-serif;
}

input {
    all: unset;
}

main {
    min-height: 100vh;
}

select{
    all: unset;
}

option{
    all: unset;
}