<body>
  <div class="text-left">
    <div class="container">
      <img src="../../../assets/UserPicture.png" alt="Image"
        style="width: 20rem; height: auto; display: block; margin: 0 auto;" />
      <h2 class="text-center mb-4"
        style="font-size:3rem; font-family:Georgia, 'Times New Roman', Times, serif; font-style: oblique; color: tan;">
        Register</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
            [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="email"
            required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
            [(ngModel)]="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        <div class="text-center mt-3 text-light">
          Already have an account? <a routerLink="/" routerLinkActive="active">Login</a>
        </div>
      </form>
    </div>
  </div>
</body>