/* You can add global styles to this file, and also import other style files */
.MaIn{
    background-image: url('https://source.unsplash.com/random/?blur,light');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 6%;
    padding-top: 150px;
} 